.profileWrp{
    display: flex;
    padding-top: 120px;
}
.form{
    width: 480px;
}
.formBtns{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}



.formBtn{
    font-weight: 400;
    font-size: 16px;
    color: #4C4CFF;
    margin-right: 28px;
}
