.modalImg {
    width: 100%;
}
.wrp{
    max-width: 640px;
    margin: 0 auto;
}
.zag{
    text-align: center;
    display: block;
    padding-top: 120px;
}

.modalName {
    text-align: center;
}

.modalTypes {
    display: flex;
    flex-wrap: wrap;
    color: #8585AD;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.modalLi {
    flex: 1;

}

.modalType {
    display: block;
    text-align: center;
    margin-bottom: 8px;
}

.modalValue {
    display: block;
    text-align: center;
}